@model LegnicaIT.JwtManager.Models.FormModel<LegnicaIT.JwtManager.Models.User.EditPasswordViewModel>

<h2 class="form-signin-heading">Change Password</h2>

@using (Html.BeginForm(FormMethod.Post, true))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Model.OldPassword, new { @class = "col-md-2 control-label" })
        @Html.PasswordFor(m => m.Model.OldPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Model.OldPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Model.NewPassword, new { @class = "col-md-2 control-label" })
        @Html.PasswordFor(m => m.Model.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Model.NewPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Model.ConfirmPassword, new { @class = "col-md-2 control-label" })
        @Html.PasswordFor(m => m.Model.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Model.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <input type="submit" class="btn btn-primary" value="Change password" />
}
