@model LegnicaIT.JwtManager.Models.FormModel<LegnicaIT.JwtManager.Models.AppViewModel>

<h2>Apps</h2>

<div class="form-group">
    @(Model.IsEdit ? Html.HiddenFor(m => m.Model.Id) : null)

    @if (Model.IsEdit)
    {
        @Html.LabelFor(m => m.Model.Name)
        @Html.TextBoxFor(m => m.Model.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Model.Name, "", new {@class = "text-danger"})
    }
    else
    {
        <strong>Name:</strong>
        @Html.Raw(Model.Model.Name)
    }
</div>