@using LegnicaIT.JwtManager.Models
@model AppUserViewModel

@{
    ViewData["Title"] = "Add User";
}

@using (Html.BeginForm(FormMethod.Post, true, new { @class = "form-horizontal" }))
{
    <h2 align="center">Add user to application</h2>

    <br/>

    <div id="container" align="center" >
        <table style="border-collapse:separate; border-spacing:5px">
            <tr>
                <td align="right">@Html.LabelFor(m => m.AppId, new { @class = "control-label col-sm-2" })</td>
                <td align="left">@Html.TextBoxFor(m => m.AppId, new { @class = "form-control ", type = "number", required = "required" }) </td>
                @Html.ValidationMessageFor(m => m.AppId, "", new { @class = "text-danger" })
            </tr>

            <tr>
                <td align="right">@Html.LabelFor(m => m.UserId, new { @class = "control-label col-sm-2" })</td>
                <td align="left">@Html.TextBoxFor(m => m.UserId, new { @class = "form-control", type = "number", required = "required" })</td>
                @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
            </tr>

            <tr>
                <td align="right">@Html.LabelFor(m => m.Role, new { @class = "control-label col-sm-2" })</td>
                <td align="left">@Html.PasswordFor(m => m.Role, new { @class = "form-control", required = "required", type = "number" })</td>
                @Html.ValidationMessageFor(m => m.Role, "", new { @class = "text-danger" })
            </tr>
         </table>

        <br />

     </div>

    <div  align="center" style="margin-left:30px"> <button class="btn btn-lg btn-primary jwt-btn-big" type="submit" id="btnAdd">Add</button> </div>
}    