@using LegnicaIT.JwtManager.Models
@using LegnicaIT.BusinessLogic.Enums;
@model AppUserViewModel

@{
    ViewData["Title"] = "Change user role";

}

 @using (Html.BeginForm(FormMethod.Post, true))
 {
    @Html.Hidden("oldRole", Model.Role)
    @Html.Hidden("appId", Model.AppId)
    @Html.Hidden("userId", Model.UserId)
    <h2 align="center">Change user role</h2>

    <div id="container" align="center">

        <table style="border-collapse:separate; border-spacing:10px ; margin-right:125px">

            <tr>
                <td>Select role:</td>
            </tr>

            <tr>
                <td>
                    <label class="radio-inline" >@Html.RadioButtonFor(m => m.Role, UserRole.User) User</label>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="radio-inline">@Html.RadioButtonFor(m => m.Role, UserRole.Manager) Manager</label>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="radio-inline">@Html.RadioButtonFor(m => m.Role, UserRole.SuperAdmin) SuperAdmin</label>
                </td>
            </tr>

        </table>

        <br />

        <input type="submit" value="Accept" class="btn btn-primary btn-lg jwt-btn-big" />

        </div>

        }