@using LegnicaIT.JwtManager.Models
@using LegnicaIT.BusinessLogic.Enums;
@model AppUserViewModel

@{
    ViewData["Title"] = "Change user role";

}

 @using (Html.BeginForm(FormMethod.Post, true))
 {
    @Html.Hidden("oldRole", Model.Role)
    @Html.Hidden("appId", Model.AppId)
    @Html.Hidden("userId", Model.UserId)
    <h2>Change user role</h2>
    <p>Select role:</p>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.Role, UserRole.User) User 
        </label>

        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.Role, UserRole.Manager) Manager 
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.Role, UserRole.SuperAdmin) SuperAdmin 
        </label>
        <td>
            <input type="submit" value="Accept" class="btn btn-primary" style="margin-left" />
        </td>  
    <br />
    <br />
}