@model LegnicaIT.JwtManager.Models.FormModel<LegnicaIT.JwtManager.Models.User.EditUserDetailsViewModel>

<h2>User details</h2>

<div class="form-group">
    @(Model.IsEdit ? Html.HiddenFor(m => m.Model.Id) : null)
    <div class="form-group">
        @if (!Model.IsEdit)
        {
            <strong>Email</strong>
            @Model.Model.Email
        }
    </div>
    
    <div class="form-group">
        @if (Model.IsEdit)
        {
            @Html.LabelFor(m => m.Model.Name)
            @Html.TextBoxFor(m => m.Model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Model.Name, "", new { @class = "text-danger" })
        }
        else
        {
            <strong>Name:</strong>
            @Model.Model.Name
        }
    </div>
</div>